@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

/* HEADER */
header {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.titre-site {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

.texte-cliquable{
    text-decoration: none;
    color: black;
}

.btn-reservation {
    display: inline-block;
    padding: 12.5px 30px;
    border-radius: 100px;
    background-color: #fb2b2b;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
}

.btn-reservation:hover {
    background-color: #ff6f6f;
    box-shadow: 0 0 20px rgba(255, 111, 111, 0.31);
    transform: scale(1.1);
    color: white;
}

.btn-reservation:active {
    background-color: #cf3d3d;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
    color: white;
}

/* BODY */
body{
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    font-style: normal;
}

.body-container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding-right: 10px;
    padding-top: 5px;
}

nav ul li{
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.liste {
    color: black;
    text-decoration: none;
}

.liste:visited,
.liste:hover,
.liste:active {
    color: black;
}

.image-container {
    position: relative;
    height: 500px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.centered-text {
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2.3em;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
}

.centered-text-bis{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.centered-buttons-1{
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.centered-buttons-2{
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.btn-menu {
    display: inline-block;
    padding: 12.5px 30px;
    border-radius: 100px;
    background-color: #e6e6e6;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
}

.btn-menu:hover {
    background-color: #aca6a6;
    box-shadow: 0 0 20px rgba(161, 155, 155, 0.31);
    transform: scale(1.1);
    color: #000000;
}

.btn-menu:active {
    background-color: #e6e6e6;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
    color: #000000;
}

.custom-photo-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 1200px;
    margin: auto;
    padding-top: 40px;
}

.grande {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carree {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Texte-sous-photo{
    margin: auto;
    text-align: center;
    font-size: 1.4em;
    width: 1150px;
    padding: 20px;
}

.zone-separee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.Partie-gauche {
    flex: 1;
    padding-bottom: 35px;
}

.Partie-droite {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.Partie-droite img {
    max-width: 300px;
    border-radius: 10px;
}

.Plats{
    color: #333333;
}

.zone-avis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.Avis-client {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Avis-client img{
    max-width: 300px;
    border-radius: 10px;
}

.Avis-client p {
    text-align: center;
}

.conteneur-bouton {
    display: flex;
    justify-content: center;
}

/* PARTIE MENU */

.Prix{
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    width: 65px;
    text-align: center;
}

/* PARTIE CONTACT */

.trait{
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
}

.logo_contact{
    width: 50px;
    height: 50px;
}

.zone-sociaux{
    display: flex;
    padding-right: 20px;
}

.Lien_sociaux{
    padding-right: 30px;
    margin: 10px;
}

.input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    width: 250px;
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    font-style: normal;
}

.TextArea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    width: 350px;
    height: 150px;
    resize: none;
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 0.9em;
}

.Form {
    padding-top: 15px;
}

.btn-envoyer {
    display: inline-block;
    padding: 12.5px 30px;
    border-radius: 100px;
    background-color: #fb2b2b;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    font-style: normal;
    border: none;
}

.btn-envoyer:hover {
    background-color: #ff6f6f;
    box-shadow: 0 0 20px rgba(255, 111, 111, 0.31);
    transform: scale(1.1);
    color: white;
}

.btn-envoyer:active {
    background-color: #cf3d3d;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
    color: white;
}