@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

body{
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    font-style: normal;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin-left: 20px;
}